<div class="row">
  <!-- Sidebar (Aside) -->
  <aside class="col-md-2 pt-4 nenindex asidemana">
    <a href="/home">
      <img
        th:src="@{/images/2.png}"
        alt="Trạm Hoa"
        height="100"
        style="text-align: center"
      />
    </a>

    <nav class="nav flex-column pt-2">
      <a href="/statistical" class="nav-link text-dark py-3 menu-item">
        <i class="fa-solid fa-file-lines me-2"></i> Thống kê
      </a>
      <!-- <a href="/dashboard" class="nav-link text-dark py-3 menu-item">
        <i class="fa-solid fa-file-lines me-2"></i> Dashboard
      </a> -->
      <a href="/User/index" class="nav-link text-dark py-3 menu-item">
        <i class="fa-solid fa-user"></i>
        Người dùng
      </a>
      <a
        href="/ProductCategory/index"
        class="nav-link text-dark py-3 menu-item"
      >
        <i class="fa-solid fa-comments me-2"></i> Danh mục sản phẩm
      </a>

      <a href="/Product/index" class="nav-link text-dark py-3 menu-item">
        <i class="fa-solid fa-heart me-2"></i> Sản phẩm
      </a>
      <a href="/Category/index" class="nav-link text-dark py-3 menu-item">
        <i class="fa-solid fa-comments me-2"></i> Loại hoa
      </a>
      <a href="/Service/index" class="nav-link text-dark py-3 menu-item">
        <i class="fa-solid fa-comments me-2"></i> Dịch vụ
      </a>
      <a href="/orderAdmin" class="nav-link text-dark py-3 menu-item">
        <i class="fa-solid fa-chart-bar me-2"></i> Đơn hàng
      </a>
      <a
        href="/admin/service-requests"
        class="nav-link text-dark py-3 menu-item"
      >
        <i class="fa-solid fa-clipboard-list me-2"></i> Đơn dịch vụ
      </a>
      <a href="/admin/pos/index" class="nav-link text-dark py-3 menu-item">
        <i class="fa-solid fa-cash-register me-2"></i> Quản lý POS
      </a>
      <a href="/Post/index" class="nav-link text-dark py-3 menu-item">
        <i class="fa-solid fa-comments me-2"></i> Bài viết</a
      >

      <a href="/Promotion/index" class="nav-link text-dark py-3 menu-item">
        <i class="fa-solid fa-tags me-2"></i> Khuyến mãi
      </a>
      <a href="/Shipper/index" class="nav-link text-dark py-3 menu-item">
        <i class="fa-solid fa-truck me-2"></i> Shipper
      </a>
      <a href="/Contact/index/admin" class="nav-link text-dark py-3 menu-item">
        <i class="fa-solid fa-envelope me-2"></i> Liên hệ
      </a>
    </nav>
  </aside>
  <article id="content" class="col-md-10 articlemana">
    <main style="min-height: 110vh;" th:insert="~{${view}}"></main>
    <footer th:insert="~{/admin/footer}"></footer>
  </article>
</div>
