<main class="container mt-3">
  <h3>Quản Lý Người Dùng</h3>
  <hr />
  <div
    class="success alert alert-success"
    th:if="${success}"
    th:text="${success}"
  ></div>

  <!-- Tab Navigation -->
  <ul class="nav nav-tabs" id="UserTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button
        class="nav-link active"
        id="edit-tab"
        data-bs-toggle="tab"
        data-bs-target="#edit"
        type="button"
        role="tab"
        aria-controls="edit"
        aria-selected="true"
      >
        Chỉnh sửa
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="list-tab"
        data-bs-toggle="tab"
        data-bs-target="#list"
        type="button"
        role="tab"
        aria-controls="list"
        aria-selected="false"
      >
        Danh sách
      </button>
    </li>
  </ul>

  <!-- Tab Content -->
  <div class="tab-content" id="UserTabContent">
    <i class="error" th:if="${error}" th:text="${error}"></i>

    <!-- Tab: Chỉnh sửa -->
    <div
      class="tab-pane fade show active"
      id="edit"
      role="tabpanel"
      aria-labelledby="edit-tab"
    >
      <form action="/User/index" th:object="${User}" method="post">
        <div class="row">
          <th:block th:if="${User.role==1||User.role==null}">
            <div class="col-6">
              <div class="mb-1">
                <label for="id" class="form-label">ID</label>
                <input
                  type="text"
                  id="id"
                  th:field="*{id}"
                  readonly
                  class="form-control form-control-sm"
                />
              </div>
            </div>
            <div class="col-6">
              <div class="mb-1">
                <label for="name" class="form-label">Tên</label>
                <input
                  type="text"
                  th:field="*{name}"
                  id="name"
                  class="form-control form-control-sm"
                  placeholder="Nhập tên người dùng"
                />
                <i class="error" th:errors="*{name}"></i>
              </div>
            </div>
            <div class="col-6">
              <div class="mb-1">
                <label for="email" class="form-label">Email</label>
                <input
                  type="email"
                  th:field="*{email}"
                  id="email"
                  class="form-control form-control-sm"
                  placeholder="Nhập email"
                />
                <i class="error" th:errors="*{email}"></i>
              </div>
            </div>
            <div class="col-6">
              <div class="mb-1">
                <label class="form-label">Vai trò</label>
                <div>
                  <input
                    type="radio"
                    th:field="*{role}"
                    value="0"
                    id="roleUser"
                  />
                  <label for="roleUser">User</label>

                  <input
                    type="radio"
                    th:field="*{role}"
                    value="1"
                    id="roleAdmin"
                  />
                  <label for="roleAdmin">Admin</label>

                  <input
                    type="radio"
                    th:field="*{role}"
                    value="2"
                    id="roleShipper"
                  />
                  <label for="roleShipper">Shipper</label>
                  <i class="error" th:errors="*{role}"></i>
                </div>
              </div>
            </div>

            <input
              type="hidden"
              th:field="*{password}"
              class="form-control form-control-sm"
            />
          </th:block>
          <th:block th:if="${User.role == 2 || User.role == 0 }">
            <div class="col-6">
              <div class="mb-1">
                <label for="id" class="form-label">ID</label>
                <input
                  type="text"
                  id="id"
                  th:field="*{id}"
                  readonly
                  class="form-control form-control-sm"
                />
              </div>
            </div>
            <div class="col-6">
              <div class="mb-1">
                <label for="name" class="form-label">Tên</label>
                <input
                  type="text"
                  th:field="*{name}"
                  id="name"
                  class="form-control form-control-sm"
                  placeholder="Nhập tên người dùng"
                />
                <i class="error" th:errors="*{name}"></i>
              </div>
            </div>
            <div class="col-6">
              <div class="mb-1">
                <label for="email" class="form-label">Email</label>
                <input
                  type="email"
                  th:field="*{email}"
                  readonly
                  id="email"
                  class="form-control form-control-sm"
                  placeholder="Nhập email"
                />
                <i class="error" th:errors="*{email}"></i>
              </div>
            </div>

            <div class="col-6">
              <div class="mb-1">
                <label class="form-label">Vai trò</label>
                <div>
                  <input
                    type="radio"
                    th:field="*{role}"
                    value="0"
                    id="roleUser"
                  />
                  <label for="roleUser">User</label>

                  <input
                    type="radio"
                    th:field="*{role}"
                    value="1"
                    id="roleAdmin"
                  />
                  <label for="roleAdmin">Admin</label>

                  <input
                    type="radio"
                    th:field="*{role}"
                    value="2"
                    id="roleShipper"
                  />
                  <label for="roleShipper">Shipper</label>
                  <i class="error" th:errors="*{role}"></i>
                </div>
              </div>
            </div>

            <input
              type="hidden"
              th:field="*{password}"
              class="form-control form-control-sm"
            />
          </th:block>
          <div class="col-6" th:if="${User.id==0}">
            <div class="mb-1">
              <label for="password">Mật khẩu</label>
              <input
                type="password"
                th:field="*{password}"
                class="form-control form-control-sm"
              />
              <i class="error" th:errors="*{password}"></i>
            </div>
          </div>
        </div>
        <div class="row mt-4 text-end">
          <div class="col">
            <button
              th:if="${User.id == 0}"
              type="submit"
              class="btn btn-primary"
              th:formaction="@{/User/create}"
            >
              <i class="fa fa-plus"></i> Thêm
            </button>
            <button
              th:if="${User.id != 00}"
              type="submit"
              class="btn btn-warning"
              th:formaction="@{/User/update}"
            >
              <i class="fa fa-edit"></i> Cập Nhật
            </button>
            <button
              th:if="${User.id != 0}"
              type="button"
              class="btn btn-danger"
              onclick="confirmDelete(this)"
              th:data-url="@{/User/delete/{id}(id=${User.id})}"
            >
              <i class="fa fa-trash"></i> Xóa
            </button>
            <button
              type="submit"
              class="btn btn-success"
              th:formaction="@{/User/index}"
            >
              <i class="fa fa-sync"></i> Làm Mới
            </button>
          </div>
        </div>
      </form>
    </div>

    <!-- Tab: Danh sách -->
    <div
      class="tab-pane fade"
      id="list"
      role="tabpanel"
      aria-labelledby="list-tab"
    >
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead class="table-dark">
            <tr>
              <th>ID</th>
              <th>Tên</th>
              <th>Email</th>
              <th>Vai Trò</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <th:block th:each="item : ${Users}">
              <tr>
                <td th:text="${item.id}"></td>
                <td th:text="${item.name}"></td>
                <td th:text="${item.email}"></td>
                <td>
                  <span th:switch="${item.role}">
                    <span th:case="0">User</span>
                    <span th:case="1">Admin</span>
                    <span th:case="2">Shipper</span>
                    <span th:case="*">Không rõ</span>
                  </span>
                </td>
                <td>
                  <a
                    class="btn btn-sm btn-info"
                    th:href="@{/User/edit/{id}(id=${item.id})}"
                    >Sửa</a
                  >
                  <a
                    href="#"
                    class="btn btn-sm btn-danger"
                    onclick="confirmDelete(this)"
                    th:data-url="@{/User/delete/{id}(id=${item.id})}"
                    >Xóa</a
                  >
                </td>
              </tr>
            </th:block>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
