 <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img
            src="https://via.placeholder.com/50?text=🌷"
            alt="Logo"
            width="50"
          />
          Cửa Hàng Hoa
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Trang Chủ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/services">Dịch Vụ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/products">Sản Phẩm</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Liên Hệ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Acticle">bài viết</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>