USE [master]
GO
/****** Object:  Database [BanHang]    Script Date: 15/08/2025 8:39:49 SA ******/
CREATE DATABASE [BanHang]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BanHang', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BanHang.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BanHang_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BanHang_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BanHang].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BanHang]
GO
/****** Object:  Table [dbo].[cart_items]    Script Date: 15/08/2025 8:39:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart_items](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[quantity] [int] NOT NULL,
	[product_id] [bigint] NOT NULL,
	[user_id] [int] NOT NULL,
	[price] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 15/08/2025 8:39:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[description] [nvarchar](255) NULL,
	[name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[colors]    Script Date: 15/08/2025 8:39:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[colors](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comments]    Script Date: 15/08/2025 8:39:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comments](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[content] [nvarchar](255) NULL,
	[created_at] [datetime2](6) NULL,
	[user_id] [int] NOT NULL,
	[rating] [int] NOT NULL,
	[status] [varchar](255) NULL,
	[order_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contacts]    Script Date: 15/08/2025 8:39:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contacts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](255) NULL,
	[message] [varchar](255) NULL,
	[name] [varchar](255) NULL,
	[sdt] [varchar](255) NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_details]    Script Date: 15/08/2025 8:39:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_details](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[price] [float] NULL,
	[quantity] [int] NULL,
	[order_id] [bigint] NOT NULL,
	[product_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 15/08/2025 8:39:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[create_date] [date] NULL,
	[user_id] [int] NOT NULL,
	[sdt] [varchar](255) NULL,
	[total_amount] [float] NULL,
	[address] [nvarchar](255) NULL,
	[status] [nvarchar](255) NULL,
	[shipper_id] [int] NULL,
	[order_type] [nvarchar](50) NULL,
	[order_code] [nvarchar](255) NULL,
	[promotion_id] [bigint] NULL,
	[delivery_date] [date] NULL,
	[description] [nvarchar](500) NULL,
	[original_id] [bigint] NULL,
	[reason] [nvarchar](500) NULL,
	[ship_fee] [float] NULL,
	[payment_method] [nvarchar](50) NULL,
	[payment_status] [nvarchar](50) NULL,
	[payment_url] [nvarchar](500) NULL,
	[transaction_id] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[post_comments]    Script Date: 15/08/2025 8:39:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[post_comments](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[content] [nvarchar](255) NULL,
	[created_at] [datetime2](6) NULL,
	[post_id] [bigint] NOT NULL,
	[user_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[posts]    Script Date: 15/08/2025 8:39:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[posts](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[image] [nvarchar](255) NULL,
	[status] [bit] NOT NULL,
	[last_updated_at] [datetime] NULL,
	[user_id] [int] NOT NULL,
	[post_date] [date] NULL,
 CONSTRAINT [PK__posts__3213E83F2A318035] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_categories]    Script Date: 15/08/2025 8:39:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[description] [nvarchar](255) NULL,
	[name] [nvarchar](55) NULL,
 CONSTRAINT [PK_product_categories] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 15/08/2025 8:39:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[description] [nvarchar](255) NULL,
	[image_url] [nvarchar](255) NULL,
	[name] [nvarchar](55) NULL,
	[price] [float] NOT NULL,
	[category_id] [int] NULL,
	[color_id] [int] NULL,
	[product_category_id] [int] NULL,
	[quantity] [int] NULL,
	[discount_end] [date] NULL,
	[discount_percent] [int] NULL,
	[discount_start] [date] NULL,
	[image_url2] [nvarchar](255) NULL,
	[image_url3] [nvarchar](255) NULL,
	[available] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[promotions]    Script Date: 15/08/2025 8:39:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[promotions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[created_date] [datetime2](6) NULL,
	[description] [nvarchar](500) NULL,
	[discount_type] [varchar](255) NULL,
	[discount_value] [float] NULL,
	[end_date] [date] NULL,
	[start_date] [date] NULL,
	[status] [bit] NULL,
	[title] [nvarchar](255) NULL,
	[updated_date] [datetime2](6) NULL,
	[use_count] [int] NULL,
 CONSTRAINT [PK__promotio__3213E83FBE1BE92C] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[service_orders]    Script Date: 15/08/2025 8:39:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[service_orders](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[address_detail] [nvarchar](255) NULL,
	[confirmed_at] [date] NULL,
	[description] [nvarchar](max) NULL,
	[district] [nvarchar](100) NULL,
	[execution_time] [date] NOT NULL,
	[quoted_price] [numeric](38, 2) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[request_id] [bigint] NOT NULL,
	[user_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[service_request_drafts]    Script Date: 15/08/2025 8:39:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[service_request_drafts](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[address_detail] [nvarchar](255) NULL,
	[created_at] [date] NULL,
	[description] [nvarchar](max) NULL,
	[district] [nvarchar](100) NULL,
	[execution_time] [date] NULL,
	[quoted_price] [numeric](38, 2) NULL,
	[updated_at] [date] NULL,
	[request_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[service_requests]    Script Date: 15/08/2025 8:39:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[service_requests](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[detail_request] [nvarchar](max) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[full_name] [varchar](50) NOT NULL,
	[phone] [varchar](11) NOT NULL,
	[quoted_price] [numeric](38, 2) NULL,
	[status] [varchar](20) NOT NULL,
	[service_id] [bigint] NOT NULL,
	[user_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[services]    Script Date: 15/08/2025 8:39:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[services](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[available] [bit] NOT NULL,
	[description] [nvarchar](1000) NULL,
	[image_url] [nvarchar](255) NULL,
	[image_url2] [nvarchar](255) NULL,
	[image_url3] [nvarchar](255) NULL,
	[name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shippers]    Script Date: 15/08/2025 8:39:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shippers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[address] [nvarchar](255) NULL,
	[cccd] [varchar](255) NULL,
	[history_order] [varchar](255) NULL,
	[is_deleted] [bit] NULL,
	[status] [bit] NULL,
	[totals_numberorder] [int] NULL,
	[vehicle] [nvarchar](255) NULL,
	[user_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 15/08/2025 8:39:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](255) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[role] [int] NULL,
	[sdt] [varchar](255) NULL,
	[status] [bit] NULL,
	[remember_token] [varchar](255) NULL,
	[remember_token_expiry] [datetime2](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[wards]    Script Date: 15/08/2025 8:39:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wards](
	[ward_id] [bigint] IDENTITY(1,1) NOT NULL,
	[ward_name] [nvarchar](100) NOT NULL,
	[zone_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ward_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[zones]    Script Date: 15/08/2025 8:39:49 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zones](
	[zone_id] [bigint] IDENTITY(1,1) NOT NULL,
	[zone_name] [varchar](100) NOT NULL,
	[ship_fee] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[zone_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[cart_items] ON 

INSERT [dbo].[cart_items] ([id], [quantity], [product_id], [user_id], [price]) VALUES (1117, 2, 99, 3, 1500000)
INSERT [dbo].[cart_items] ([id], [quantity], [product_id], [user_id], [price]) VALUES (1118, 1, 93, 3, 12000000)
INSERT [dbo].[cart_items] ([id], [quantity], [product_id], [user_id], [price]) VALUES (1119, 1, 98, 3, 1100000)
SET IDENTITY_INSERT [dbo].[cart_items] OFF
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([id], [description], [name]) VALUES (2, N'Tượng trưng cho sự trường thọ và lòng biết ', N'Hoa Hồng')
INSERT [dbo].[categories] ([id], [description], [name]) VALUES (3, N'Biểu tượng của sự sang trọng và cao quý', N'Hoa Lan')
INSERT [dbo].[categories] ([id], [description], [name]) VALUES (5, N'Tượng trưng cho niềm tin và sự hy vọng', N'Hoa Hướng Dương')
SET IDENTITY_INSERT [dbo].[categories] OFF
GO
SET IDENTITY_INSERT [dbo].[colors] ON 

INSERT [dbo].[colors] ([id], [name]) VALUES (1, N'Đỏ')
INSERT [dbo].[colors] ([id], [name]) VALUES (2, N'Xanh lá')
INSERT [dbo].[colors] ([id], [name]) VALUES (3, N'Vàng')
SET IDENTITY_INSERT [dbo].[colors] OFF
GO
SET IDENTITY_INSERT [dbo].[comments] ON 

INSERT [dbo].[comments] ([id], [content], [created_at], [user_id], [rating], [status], [order_id]) VALUES (1, N'Sản phẩm đẹp, giao hàng nhanh , shop tư vấn nhiệt tình ', CAST(N'2025-08-15T08:28:11.7744610' AS DateTime2), 23, 5, N'Active', 10344)
INSERT [dbo].[comments] ([id], [content], [created_at], [user_id], [rating], [status], [order_id]) VALUES (2, N'Giao hàng hơi lâu ', CAST(N'2025-08-15T08:28:41.5957010' AS DateTime2), 23, 4, N'Active', 10343)
INSERT [dbo].[comments] ([id], [content], [created_at], [user_id], [rating], [status], [order_id]) VALUES (3, N'Hoa đẹp, giao nhanh, lần sau sẽ ủng hộ ', CAST(N'2025-08-15T08:31:13.6234410' AS DateTime2), 17, 5, N'Active', 10341)
SET IDENTITY_INSERT [dbo].[comments] OFF
GO
SET IDENTITY_INSERT [dbo].[order_details] ON 

INSERT [dbo].[order_details] ([id], [price], [quantity], [order_id], [product_id]) VALUES (10515, 1200000, 1, 10335, 8)
INSERT [dbo].[order_details] ([id], [price], [quantity], [order_id], [product_id]) VALUES (10516, 1500000, 1, 10335, 9)
INSERT [dbo].[order_details] ([id], [price], [quantity], [order_id], [product_id]) VALUES (10520, 1500000, 1, 10337, 9)
SET IDENTITY_INSERT [dbo].[order_details] OFF
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([id], [create_date], [user_id], [sdt], [total_amount], [address], [status], [shipper_id], [order_type], [order_code], [promotion_id], [delivery_date], [description], [original_id], [reason], [ship_fee], [payment_method], [payment_status], [payment_url], [transaction_id]) VALUES (10335, CAST(N'2025-08-14' AS Date), 3, NULL, 2700000, NULL, N'Đã thanh toán', NULL, N'offline', N'POS10335', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[orders] ([id], [create_date], [user_id], [sdt], [total_amount], [address], [status], [shipper_id], [order_type], [order_code], [promotion_id], [delivery_date], [description], [original_id], [reason], [ship_fee], [payment_method], [payment_status], [payment_url], [transaction_id]) VALUES (10337, CAST(N'2025-08-14' AS Date), 3, NULL, 2700000, NULL, N'Đã thanh toán', NULL, N'offline', N'POS10337', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[orders] ([id], [create_date], [user_id], [sdt], [total_amount], [address], [status], [shipper_id], [order_type], [order_code], [promotion_id], [delivery_date], [description], [original_id], [reason], [ship_fee], [payment_method], [payment_status], [payment_url], [transaction_id]) VALUES (10338, CAST(N'2025-08-14' AS Date), 3, NULL, 2550000, NULL, N'Đã thanh toán', NULL, N'offline', N'POS10338', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[orders] OFF
GO
SET IDENTITY_INSERT [dbo].[post_comments] ON 

INSERT [dbo].[post_comments] ([id], [content], [created_at], [post_id], [user_id]) VALUES (1, N'ádsa
dsa

', CAST(N'2025-07-24T13:53:47.0627290' AS DateTime2), 5, 3)
SET IDENTITY_INSERT [dbo].[post_comments] OFF
GO
SET IDENTITY_INSERT [dbo].[posts] ON 

SET IDENTITY_INSERT [dbo].[posts] OFF
GO
SET IDENTITY_INSERT [dbo].[product_categories] ON 

INSERT [dbo].[product_categories] ([id], [description], [name]) VALUES (1, N'Hoa chúc mừng sự kiện, khai trương', N'Hoa khai trương')
INSERT [dbo].[product_categories] ([id], [description], [name]) VALUES (2, N'Hoa tang lễ, phúng viếng', N'Hoa chia buồn')
INSERT [dbo].[product_categories] ([id], [description], [name]) VALUES (3, N'Hoa tặng sinh nhật', N'Hoa sinh nhật')
SET IDENTITY_INSERT [dbo].[product_categories] OFF
GO
SET IDENTITY_INSERT [dbo].[products] ON 

INSERT [dbo].[products] ([id], [description], [image_url], [name], [price], [category_id], [color_id], [product_category_id], [quantity], [discount_end], [discount_percent], [discount_start], [image_url2], [image_url3], [available]) VALUES (7, N'Sản phẩm kệ hoa khai trương đỏ thắm', N'13223_party.jpg', N'Party - 13223', 950000, 34, 3, 1, 10, NULL, NULL, NULL, N'hoa-cuc-calimero-3.webp', NULL, 1)
INSERT [dbo].[products] ([id], [description], [image_url], [name], [price], [category_id], [color_id], [product_category_id], [quantity], [discount_end], [discount_percent], [discount_start], [image_url2], [image_url3], [available]) VALUES (8, N'Sản phẩm kệ hoa khai trương sang trọng', N'11031_vuon-cao.png', N'Vươn cao - 11031', 1200000, 2, 1, 11, 10, NULL, NULL, NULL, N'13399_dai-phat.jpg', NULL, 1)
INSERT [dbo].[products] ([id], [description], [image_url], [name], [price], [category_id], [color_id], [product_category_id], [quantity], [discount_end], [discount_percent], [discount_start], [image_url2], [image_url3], [available]) VALUES (9, N'Sản phẩm kệ hoa khai trương đỏ thắm', N'13166_perfection.jpg', N'Perfection 02 - 13166', 1500000, 2, 1, 1, 10, NULL, NULL, NULL, N'12505_phu-quy.jpg', NULL, 1)
SET IDENTITY_INSERT [dbo].[products] OFF
GO
SET IDENTITY_INSERT [dbo].[promotions] ON 

INSERT [dbo].[promotions] ([id], [created_date], [description], [discount_type], [discount_value], [end_date], [start_date], [status], [title], [updated_date], [use_count]) VALUES (1, CAST(N'2025-07-25T19:33:47.4731890' AS DateTime2), N'Gi?m 10% cho don hàng t? 200k', N'percent', 10, CAST(N'2025-08-31' AS Date), CAST(N'2025-07-01' AS Date), 1, N'MA10', CAST(N'2025-07-25T19:33:47.4731890' AS DateTime2), 50)
INSERT [dbo].[promotions] ([id], [created_date], [description], [discount_type], [discount_value], [end_date], [start_date], [status], [title], [updated_date], [use_count]) VALUES (2, CAST(N'2025-07-25T19:33:47.4731890' AS DateTime2), N'Gi?m 50k cho don hàng t? 500k', N'amount', 50000, CAST(N'2025-09-15' AS Date), CAST(N'2025-07-15' AS Date), 1, N'MA50K', CAST(N'2025-07-25T19:33:47.4731890' AS DateTime2), 30)
INSERT [dbo].[promotions] ([id], [created_date], [description], [discount_type], [discount_value], [end_date], [start_date], [status], [title], [updated_date], [use_count]) VALUES (3, CAST(N'2025-07-25T19:33:47.4731890' AS DateTime2), N'Gi?m 100k cho don t? 1 tri?u', N'amount', 100000, CAST(N'2025-08-30' AS Date), CAST(N'2025-07-10' AS Date), 1, N'MA100K', CAST(N'2025-07-25T19:33:47.4731890' AS DateTime2), 20)
SET IDENTITY_INSERT [dbo].[promotions] OFF
GO
SET IDENTITY_INSERT [dbo].[services] ON 

INSERT [dbo].[services] ([id], [available], [description], [image_url], [image_url2], [image_url3], [name]) VALUES (1, 1, N'Dịch vụ trang trí sinh nhật chuyên nghiệp với các chủ đề đa dạng như hoạt hình, công chúa, siêu anh hùng, phù hợp cho cả bé trai và bé gái. Bao gồm backdrop, bong bóng, bàn tiệc, hoa tươi và các phụ kiện theo yêu cầu.', N'sinhnhat1.webp', N'sinhnhat2.jpg', N'sinhnhat3.webp', N'Trang trí sinh nhật')
INSERT [dbo].[services] ([id], [available], [description], [image_url], [image_url2], [image_url3], [name]) VALUES (2, 1, N'Chúng tôi cung cấp dịch vụ tổ chức tiệc cưới trọn gói, bao gồm trang trí không gian, cổng hoa, sân khấu, bàn gallery, xe hoa và đội ngũ nhân sự hỗ trợ chuyên nghiệp giúp bạn có một ngày cưới hoàn hảo.', N'cong-hoa-cuoi-mau-hong-6.jpg', N'Conghoacuoi.jpg', N'Conghoacuoi2.webp', N'Tổ chức tiệc cưới')
INSERT [dbo].[services] ([id], [available], [description], [image_url], [image_url2], [image_url3], [name]) VALUES (3, 1, N'Dịch vụ thiết kế bó hoa theo phong cách hiện đại, cổ điển, hoặc nghệ thuật. Bạn có thể đặt hoa theo ý tưởng riêng hoặc lựa chọn mẫu sẵn có từ chúng tôi, phù hợp với mọi dịp: sinh nhật, cầu hôn, chúc mừng...', N'2193_thay-loi-muon-noi.jpg', N'2157_you-are-the-reason.jpg', N'2155_uoc-mong.jpg', N'Thiết kế bó hoa')
SET IDENTITY_INSERT [dbo].[services] OFF
GO
SET IDENTITY_INSERT [dbo].[shippers] ON 

INSERT [dbo].[shippers] ([id], [address], [cccd], [history_order], [is_deleted], [status], [totals_numberorder], [vehicle], [user_id]) VALUES (2, N'', N'', N'', NULL, 1, 0, N'', 30)
INSERT [dbo].[shippers] ([id], [address], [cccd], [history_order], [is_deleted], [status], [totals_numberorder], [vehicle], [user_id]) VALUES (3, N'', N'', N'', NULL, 1, 0, N'', 24)
SET IDENTITY_INSERT [dbo].[shippers] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [email], [name], [password], [role], [sdt], [status], [remember_token], [remember_token_expiry]) VALUES (3, N'vietchinh10b4ttt@gmail.com', N'Nguyễn Viết Chinh ', N'1111', 1, N'0123456456', 1, NULL, NULL)
INSERT [dbo].[users] ([id], [email], [name], [password], [role], [sdt], [status], [remember_token], [remember_token_expiry]) VALUES (17, N'ngamtpd10814@gmail.com', N'Mai Thị Ngà', N'1111', 0, N'0906780998', 1, NULL, NULL)
INSERT [dbo].[users] ([id], [email], [name], [password], [role], [sdt], [status], [remember_token], [remember_token_expiry]) VALUES (23, N'thangtx2010@gmail.com', N'Trần Xuân Thắng', N'1111', 0, N'0912345678', 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET IDENTITY_INSERT [dbo].[wards] ON 

INSERT [dbo].[wards] ([ward_id], [ward_name], [zone_id]) VALUES (1, N'Hải Châu', 1)
INSERT [dbo].[wards] ([ward_id], [ward_name], [zone_id]) VALUES (2, N'Hòa Cường', 1)
INSERT [dbo].[wards] ([ward_id], [ward_name], [zone_id]) VALUES (3, N'Thanh Khê', 1)
SET IDENTITY_INSERT [dbo].[wards] OFF
GO
SET IDENTITY_INSERT [dbo].[zones] ON 

INSERT [dbo].[zones] ([zone_id], [zone_name], [ship_fee]) VALUES (1, N'Vùng 1', 20000)
INSERT [dbo].[zones] ([zone_id], [zone_name], [ship_fee]) VALUES (2, N'Vùng 2', 30000)
INSERT [dbo].[zones] ([zone_id], [zone_name], [ship_fee]) VALUES (3, N'Vùng 3', 40000)
SET IDENTITY_INSERT [dbo].[zones] OFF
GO
/****** Object:  Index [UK_jra8q6waaanawwwi8mmh4kh5b]    Script Date: 15/08/2025 8:39:50 SA ******/
ALTER TABLE [dbo].[service_orders] ADD  CONSTRAINT [UK_jra8q6waaanawwwi8mmh4kh5b] UNIQUE NONCLUSTERED 
(
	[request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UK_44y69ueyai1sk6omlyeei5hed]    Script Date: 15/08/2025 8:39:50 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK_44y69ueyai1sk6omlyeei5hed] ON [dbo].[service_request_drafts]
(
	[request_id] ASC
)
WHERE ([request_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[comments] ADD  DEFAULT ((3)) FOR [rating]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((1)) FOR [available]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[cart_items]  WITH CHECK ADD  CONSTRAINT [FK1re40cjegsfvw58xrkdp6bac6] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[cart_items] CHECK CONSTRAINT [FK1re40cjegsfvw58xrkdp6bac6]
GO
ALTER TABLE [dbo].[cart_items]  WITH CHECK ADD  CONSTRAINT [FK709eickf3kc0dujx3ub9i7btf] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[cart_items] CHECK CONSTRAINT [FK709eickf3kc0dujx3ub9i7btf]
GO
ALTER TABLE [dbo].[comments]  WITH CHECK ADD  CONSTRAINT [fk_comments_order] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[comments] CHECK CONSTRAINT [fk_comments_order]
GO
ALTER TABLE [dbo].[comments]  WITH CHECK ADD  CONSTRAINT [FK8omq0tc18jd43bu5tjh6jvraq] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[comments] CHECK CONSTRAINT [FK8omq0tc18jd43bu5tjh6jvraq]
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD  CONSTRAINT [FK4q98utpd73imf4yhttm3w0eax] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[order_details] CHECK CONSTRAINT [FK4q98utpd73imf4yhttm3w0eax]
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD  CONSTRAINT [FKjyu2qbqt8gnvno9oe9j2s2ldk] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[order_details] CHECK CONSTRAINT [FKjyu2qbqt8gnvno9oe9j2s2ldk]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK_orders_promotion] FOREIGN KEY([promotion_id])
REFERENCES [dbo].[promotions] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK_orders_promotion]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK32ql8ubntj5uh44ph9659tiih] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK32ql8ubntj5uh44ph9659tiih]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FKmjnf91amspoh2m4qg8ct5y8uj] FOREIGN KEY([shipper_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FKmjnf91amspoh2m4qg8ct5y8uj]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [PK_promotio_3213E83FBE1BE92C] FOREIGN KEY([promotion_id])
REFERENCES [dbo].[promotions] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [PK_promotio_3213E83FBE1BE92C]
GO
ALTER TABLE [dbo].[post_comments]  WITH CHECK ADD  CONSTRAINT [FKaawaqxjs3br8dw5v90w7uu514] FOREIGN KEY([post_id])
REFERENCES [dbo].[posts] ([id])
GO
ALTER TABLE [dbo].[post_comments] CHECK CONSTRAINT [FKaawaqxjs3br8dw5v90w7uu514]
GO
ALTER TABLE [dbo].[post_comments]  WITH CHECK ADD  CONSTRAINT [FKsnxoecngu89u3fh4wdrgf0f2g] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[post_comments] CHECK CONSTRAINT [FKsnxoecngu89u3fh4wdrgf0f2g]
GO
ALTER TABLE [dbo].[posts]  WITH CHECK ADD  CONSTRAINT [fk_posts_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[posts] CHECK CONSTRAINT [fk_posts_user]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FKe05mpyhp4howtq8q4s65wm3q8] FOREIGN KEY([product_category_id])
REFERENCES [dbo].[product_categories] ([id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FKe05mpyhp4howtq8q4s65wm3q8]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FKebociq5k3b2tkcxh3q5dg4eed] FOREIGN KEY([color_id])
REFERENCES [dbo].[colors] ([id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FKebociq5k3b2tkcxh3q5dg4eed]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FKog2rp4qthbtt2lfyhfo32lsw9] FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FKog2rp4qthbtt2lfyhfo32lsw9]
GO
ALTER TABLE [dbo].[service_orders]  WITH CHECK ADD  CONSTRAINT [FKl9o7g26bid0iqjbut27vuwgg9] FOREIGN KEY([request_id])
REFERENCES [dbo].[service_requests] ([id])
GO
ALTER TABLE [dbo].[service_orders] CHECK CONSTRAINT [FKl9o7g26bid0iqjbut27vuwgg9]
GO
ALTER TABLE [dbo].[service_orders]  WITH CHECK ADD  CONSTRAINT [FKmhertkwtt396qiwydf15kn1h7] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[service_orders] CHECK CONSTRAINT [FKmhertkwtt396qiwydf15kn1h7]
GO
ALTER TABLE [dbo].[service_request_drafts]  WITH CHECK ADD  CONSTRAINT [FKla80ff5uryc1d2bpvjgk5a681] FOREIGN KEY([request_id])
REFERENCES [dbo].[service_requests] ([id])
GO
ALTER TABLE [dbo].[service_request_drafts] CHECK CONSTRAINT [FKla80ff5uryc1d2bpvjgk5a681]
GO
ALTER TABLE [dbo].[service_requests]  WITH CHECK ADD  CONSTRAINT [FKdnrpkrvtepdqqcxg1nqiq5edt] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[service_requests] CHECK CONSTRAINT [FKdnrpkrvtepdqqcxg1nqiq5edt]
GO
ALTER TABLE [dbo].[service_requests]  WITH CHECK ADD  CONSTRAINT [FKlw93ns1xph1x18mxh5p4ukb2g] FOREIGN KEY([service_id])
REFERENCES [dbo].[services] ([id])
GO
ALTER TABLE [dbo].[service_requests] CHECK CONSTRAINT [FKlw93ns1xph1x18mxh5p4ukb2g]
GO
ALTER TABLE [dbo].[shippers]  WITH CHECK ADD  CONSTRAINT [FK3aekq9ie8kebm7202pyqlsoqs] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[shippers] CHECK CONSTRAINT [FK3aekq9ie8kebm7202pyqlsoqs]
GO
ALTER TABLE [dbo].[wards]  WITH CHECK ADD  CONSTRAINT [FKdtidkjtcxpthiasqs8tc2heu] FOREIGN KEY([zone_id])
REFERENCES [dbo].[zones] ([zone_id])
GO
ALTER TABLE [dbo].[wards] CHECK CONSTRAINT [FKdtidkjtcxpthiasqs8tc2heu]
GO
ALTER TABLE [dbo].[cart_items]  WITH CHECK ADD CHECK  (([quantity]>=(1)))
GO
ALTER TABLE [dbo].[comments]  WITH CHECK ADD  CONSTRAINT [chk_rating] CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
ALTER TABLE [dbo].[comments] CHECK CONSTRAINT [chk_rating]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD CHECK  (([discount_percent]<=(100) AND [discount_percent]>=(0)))
GO
ALTER TABLE [dbo].[service_orders]  WITH CHECK ADD CHECK  (([status]='CANCELLED' OR [status]='DONE' OR [status]='PAID' OR [status]='UNPAID'))
GO
ALTER TABLE [dbo].[service_requests]  WITH CHECK ADD CHECK  (([status]='CANCELLED' OR [status]='CONFIRMED' OR [status]='CONTACTED' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[zones]  WITH CHECK ADD CHECK  (([ship_fee]>=(0)))
GO
USE [master]
GO
