<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    body{
      padding-top: 90px;
    }
  </style>
</head>
<body>
  <div
  class="success alert alert-success pt-5"
  th:if="${success}"
  th:text="${success}"
></div>
<form
  action="/forgotPassword"
  class="rounded mt-4 mb-2 mx-auto w-50"
  method="post"
>
  <h4
    style="font-family: Georgia, 'Times New Roman', Times, serif"
    class="text-center"
  >
    Quên mật khẩu
  </h4>
  <i class="error text-danger" th:if="${error}" th:text="${error}"></i>

  <div class="py-2">
    <label for="" class="form-label">Họ và Tên</label>
    <input type="text" name="name" class="form-control" placeholder="UseName" />
  </div>
  <div class="py-2">
    <label for="" class="form-label">Email</label>
    <input type="text" name="email" class="form-control" placeholder="Email" />
  </div>
  <div class="pt-2 pb-4">
    <button class="btn-dark btn" type="submit">Lấy lại mật khẩu</button>
  </div>
</form>

</body>
</html>