<style>
  .accordion-button::after {
    display: none !important;
  }
</style>
<div class="container mt-4" th:fragment="content">
  <h2 class="mb-4">Đơn hàng giao thất bại</h2>
  <div class="accordion" id="failedOrdersAccordion" style="width: 90%">
    <th:block th:if="${#lists.isEmpty(orders)}">
      <div class="text-center my-5">
        <span class="fs-5 text-muted">Hiện chưa có đơn hàng nào</span>
      </div>
    </th:block>
    <th:block th:each="order, iterStat : ${orders}">
      <div
        class="accordion-item"
        style="
          border: 1px solid #e9ecef;
          border-radius: 0.25rem;
          margin-bottom: 1rem;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        "
      >
        <h2 class="accordion-header" th:id="'heading' + ${iterStat.index}">
          <button
            class="accordion-button collapsed bg-light d-flex justify-content-between align-items-center"
            type="button"
            data-bs-toggle="collapse"
            th:attr="data-bs-target='#order' + ${iterStat.index}"
            style="font-weight: 500; color: #333"
          >
            <!-- Left side: thông tin đơn -->
            <div class="d-flex flex-wrap align-items-center gap-3">
              <!-- Mã đơn -->
              🆔 <span th:text="${order.id}" class="fw-bold"></span>

              <!-- Tổng tiền -->
              <span
                class="fw-bold text-primary"
                th:text="${#numbers.formatDecimal(order.totalAmount, 0, 'COMMA', 0, 'POINT')} + ' VND'"
              ></span>
              <span class="ms-2"> 📅</span>
              <span
                th:text="${#temporals.format(order.deliveryDate, 'dd/MM/yyyy')}"
              ></span>
              <!-- Đơn gốc -->
              <span
                th:if="${order.originalId != null}"
                class="text-muted"
                th:text="'(Đơn gốc: ' + ${order.originalId} + ')'"
              ></span>
            </div>

            <!-- Right side: COD -->
            <div class="small ms-auto" th:if="${order.paymentMethod=='COD'}">
              <span
                class="badge bg-dark"
                style="font-size: 0.9rem"
                th:if="${order.status == 'Giao lại'}"
                th:text="${order.status}"
              ></span>

              💵 COD
            </div>
          </button>
        </h2>

        <div
          th:id="'order' + ${iterStat.index}"
          class="accordion-collapse collapse"
          th:attr="data-bs-parent='#pendingOrdersAccordion'"
        >
          <div class="accordion-body p-4 bg-white">
            <table class="table table-hover">
              <thead class="table-light">
                <tr>
                  <th class="text-start">Sản phẩm</th>
                  <th>Hình ảnh</th>
                  <th>Số lượng</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  th:each="detail : ${order.orderDetails}"
                  class="align-middle"
                >
                  <td class="text-start" th:text="${detail.product.name}"></td>
                  <td>
                    <a th:href="@{/detail(id=${detail.product.id})}">
                      <img
                        th:src="@{/images/{image}(image=${detail.product.image_url})}"
                        alt=""
                        width="70px"
                        class="rounded"
                      />
                    </a>
                  </td>
                  <td th:text="${detail.quantity}" class="text-center"></td>
                </tr>
              </tbody>
            </table>
            <div class="card mt-3">
              <div class="card-body p-3">
                <div class="row">
                  <!-- Khối 1 -->
                  <div class="col-md-6">
                    <h6 class="card-title fw-bold text-success mb-2">
                      Thông tin người đặt
                    </h6>
                    <p class="mb-1" th:text="'Name: ' + ${order.user.name}"></p>
                    <p class="mb-0" th:text="'Phone: ' + ${order.user.sdt}"></p>
                  </div>

                  <!-- Khối 2 -->
                  <div class="col-md-6">
                    <h6 class="card-title fw-bold text-success mb-2">
                      Thông tin người nhận
                    </h6>

                    <p
                      class="mb-1"
                      th:text="'Name: ' + ${order.receiverName}"
                    ></p>
                    <p
                      class="mb-0"
                      th:text="'Phone: ' + ${order.receiverPhone}"
                    ></p>
                    <p
                      class="mb-1"
                      th:text="'Address: ' + ${order.address}"
                    ></p>
                  </div>
                </div>

                <!-- Khối 3 (rơi xuống dưới, chiếm full row) -->
                <div class="row mt-3">
                  <!-- Khối 1 -->
                  <div class="col-md-6">
                    <span
                      th:text="'Ngày giao hàng: ' + ${#temporals.format(order.deliveryTime, 'HH:mm')}"
                    ></span> 
                    <span
                      th:text="${#temporals.format(order.deliveryDate, 'dd/MM/yyyy')}"
                    ></span>
                      <br>
                    <span
                      class="mb-1"
                      th:text="'Ngày đặt hàng: ' + ${#dates.format(order.createDate, 'dd/MM/yyyy')}"
                    >
                      >
                    </span>
                    <p
                      class="mb-1"
                      th:text="'Mô tả: ' + ${order.description}"
                    ></p>
                  </div>
                  <div
                    class="col-md-6"
                    th:if="${order.reason != null and !#strings.isEmpty(order.reason)}"
                  >
                    <h6 class="card-title fw-bold text-danger mb-2">Lí do:</h6>

                    <p class="mb-1" th:text="${order.reason}"></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </th:block>
  </div>
  <style>
    .accordion-button:not(.collapsed) {
      color: #000;
      background-color: #fff;
      box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    }
    .accordion-button:focus {
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
      outline: none;
    }
    .table-hover tbody tr:hover {
      background-color: #f8f9fa;
    }
    .table-light th {
      background-color: #f8f9fa;
      border-bottom: 2px solid #dee2e6;
      text-align: center;
    }
    .text-end {
      text-align: right;
    }
    .text-center {
      text-align: center;
    }
    .card {
      border: 1px solid #e9ecef;
      border-radius: 0.25rem;
    }
    .card-body {
      background-color: #f8f9fa;
    }
    .btn-sm {
      font-size: 0.875rem;
    }
    .bg-purple {
      background-color: #a259e6;
      color: #fff;
    }
  </style>
</div>
